@import "tailwindcss";
/* npx @tailwindcss/cli -i ./docs/style/input.css -o ./docs/style/output.css --watch */

@font-face {
  font-family: "bartle";
  src: url(../fonts/BBHSansBartle-Regular.ttf);
}

@font-face {
  font-family: "poler";
  src: url(../fonts/PollerOne-Regular.ttf);
}

@font-face {
  font-family: "codeFont";
  src: url(../fonts/FiraCode-VariableFont_wght.ttf);
}

@layer utilities {
  /* fades */
  /* fades */
  .fadeUp {
    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
  }

  .fadeDown {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
  }

  .fadeLeft {
    opacity: 0;
    transform: translateX(-100%);
  }

  .fadeRight {
    opacity: 0;
    transform: translateX(100%);
  }

  .fadeUpLeft {
    opacity: 0;
    transform: translate(-100%, -100%);
  }

  .fadeUpRight {
    opacity: 0;
    transform: translate(100%, -100%);
  }

  /* flips */
  .flipLeft {
    transform: rotateY(90deg);
    transform-origin: center;
  }

  .flipRight {
    transform: rotateY(-90deg);
    transform-origin: center;
  }

  .flipUp {
    transform: rotateX(-90deg);
    transform-origin: center;
    transform-style: preserve-3d;
  }

  .flipDown {
    transform: rotateX(90deg);
    transform-origin: center;
    transform-style: preserve-3d;
  }

  /* zooms */
  .zoomIn {
    transform: scale(0);
    opacity: 0;
  }

  .zoomInUp {
    transform: scale(0) translateY(100%);
    opacity: 0;
  }

  .zoomInDown {
    transform: scale(0) translateY(-100%);
    opacity: 0;
  }

  .zoomInRight {
    transform: scale(0) translateX(100%);
    opacity: 0;
  }

  .zoomInLeft {
    transform: scale(0) translateX(-100%);
    opacity: 0;
  }

  .codeFont {
    font-family: "codeFont";
  }
  .bartle {
    font-family: bartle;
  }
  .poler {
    font-family: poler;
  }
  .arrowDown {
    animation: arrowDown 0.4s infinite alternate;
  }
}

@keyframes arrowDown {
  0% {
    margin-top: 5px;
  }
  100% {
    margin-top: 15px;
  }
}
